[submodule "subprojects/mutter"]
	path = subprojects/mutter
	url = https://github.com/kierandrewett/gnoblin-mutter.git
	branch = gnoblin-51
	shallow = true
[submodule "subprojects/xdg-desktop-portal-gnome"]
	path = subprojects/xdg-desktop-portal-gnome
	url = https://gitlab.gnome.org/GNOME/xdg-desktop-portal-gnome.git
	shallow = true
